{% extends 'ImieSkillsBundle::layout.html.twig' %}

{% block article %}
    <h2>Creation institut</h2>
    <hr/>
    <form method="post" action="{{ path('imie_skills_formation_add') }}" {{ form_enctype(form) }}>
        {{ form(form) }}
    </form>
{% endblock article %}
