{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post" class="form-sigin">
    <h2 class="form-sigin-heading">Veuillez vous connecter</h2>
    <input class="form-control" type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <label for="username" class="label label-default" >login</label>
    <input class="form-control" type="text" id="username" name="_username"  required="required" placeholder="votre login"/>

    <label  for="password" class="label label-default">mot de passe</label>
    <input class="form-control" type="password" id="password" name="_password" required="required" placeholder="votre mot de passe" />

    <input class="checkbox" type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label class="label label-default" for="remember_me">se souvenir de moi</label>

    <input class="btn btn-lg btn-primary btn-block" type="submit" id="_submit" name="_submit" value="connection" />
</form>
{% endblock fos_user_content %}
