/app/boostrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/symfony.phar
/nbproject/
/.idea/
nbproject/private/private.xml
/web/uploads/
