{% extends 'ImieSkillsBundle::layout.html.twig' %}

{% block article %}
<h2>Ajout d'une notification</h2>
<a href="{{ app.request.headers.get('referer') }}">Retour</a>
<hr/>
<form method="post" action="{{ path('imie_skills_notification_add') }}" {{ form_enctype(form) }}>
  {{ form(form) }}
</form>
{% endblock article %}
