{% extends 'ImieSkillsBundle::layout.html.twig' %}

{% block article %}
<h2><span class="glyphicon glyphicon-bell"></span> Détail de la notification</h2>
<a href="{{ path('imie_skills_notification_index') }}"><span class="glyphicon glyphicon-menu-left"> Retour</a>
  <h3>{{ notification.notificationName }}</h3>
  <p>{{ notification.notificationDescription }}</p>
  {% endblock article %}
