{% extends 'ImieSkillsBundle::layout.html.twig' %}

{% block article %}
<h2>Création d'un projet</h2>
<a href="{{ path('imie_skills_project_index') }}">Retour</a>
<hr/>
<form method="post" action="{{ path('imie_skills_project_add') }}" {{ form_enctype(form) }}>
  {{ form(form) }}
</form>
{% endblock article %}
