{% extends 'ImieSkillsBundle::layout.html.twig' %}

{% block article %}
<h2><span class="glyphicon glyphicon-education"></span> Ajout d'un centre de formation</h2>
<a href="{{ path('imie_skills_school_index') }}"><span class="glyphicon glyphicon-menu-left"> Retour</a>
<form method="post" action="{{ path('imie_skills_school_add') }}" {{ form_enctype(form) }}>
  {{ form(form) }}
</form>
{% endblock article %}
