{% extends 'ImieSkillsBundle::layout.html.twig' %}

        {% block article %}
            <h2>Ajout centre des formation</h2>
            <hr/>
            <form method="post" action="{{ path('imie_skills_school_add') }}" {{ form_enctype(form) }}>
                {{ form(form) }}
            </form>
        {% endblock article %}
