{% extends 'ImieSkillsBundle::layout.html.twig' %}

{% block article %}
<ol class="breadcrumb">
  <li><a href="{{ path('imie_skills_home') }}">Accueil</a></li>
  <li><a href="{{ path('imie_skills_notification_index') }}">Liste des types notification</a></li>
  <li class="active">Détails du type de notification</li>
</ol>
<h2><span class="glyphicon glyphicon-bell"></span> Détails du type de notification</h2>
<hr/>
<a class="btn btn-primary" href="{{ path('imie_skills_notification_type_index') }}" role="button"><span class="glyphicon glyphicon-menu-left"></span> Retour</a>
<hr/>
{% endblock article %}
