{% extends 'ImieSkillsBundle::layout.html.twig' %}

{% block article %}
<ol class="breadcrumb">
  <li class="active">Accueil</li>
</ol>
<h2><span class="glyphicon glyphicon-home"></span> Bienvenue</h2>
<hr/>
<div class="col-md-3" id="project-square">

</div>
<div class="col-md-3" id="home-square">
  <img src="{{ asset('bundles/imieskills/images/ImieLogo.png') }}" alt="ImieLogo">
</div>
<div class="col-md-3" id="profile-square">

</div>
<div class="col-md-4">
<h1 id="home-title">IMIE Skills</h1>
</div>
{% endblock article %}
