{% extends '::base.html.twig' %}

{% block body %}
{% if app.session.flashbag.get('success') is not empty or app.session.flashbag.get('info') is not empty %}
<section>
  <ul>
    {% for msg in app.session.flashbag.get('success') %}
    <li class="text-success">{{ msg|nl2br }}</li>
    {% for key, message in app.session.flashbag.all() %}
        <div class="alert alert-{{ key }}">
    {#        {{ message|trans({}, 'FOSUserBundle') }}#}
        </div>
    {% endfor %}
  </ul>
  <ul>
    {% for msg in app.session.flashbag.get('danger') %}
    <li class="text-danger">{{ msg|nl2br }}</li>
    {% endfor %}
  </ul>
</section>
{% endif %}
<section>
  <article>
    {% block article %}
    {% endblock article %}
  </article>
</section>
{% endblock body %}
