{% extends 'ImieSkillsBundle::layout.html.twig' %}

{% block article %}
<h2><span class="glyphicon glyphicon-tasks"></span> Modification de l'étape</h2>
<hr/>
<a class="btn btn-primary" href="{{ path('imie_skills_state_modify', {id: state.id}) }}"><span class="glyphicon glyphicon-menu-left"></span> Retour</a>
  <hr/>
  <form method="post" action="{{ path('imie_skills_state_modify', {id: id}) }}" {{ form_enctype(form) }}>
    {{ form(form) }}
  </form>
  {% endblock article %}
