{% extends 'ImieSkillsBundle::layout.html.twig'% }

{% block article %}
  <h2>Création de profil</h2>
  <a href="{{ app.request.headers.get('referer') }}">Retour</a>
  <hr/>
  <form method="post" action="{{ path('imie_skills_user_add_profile') }}" {{ form_enctype(form) }}>
    {{ form(form) }}
  </form>
{% endblock article %}
