body {
  padding-top: 70px;
  padding-bottom: 70px;
}

.navbar-fixed-bottom {
  text-align: center;
  padding-top: 15px;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

#imie-skills-home-title, #imie-home-logo {
  text-align: center;
}

#imie-header-logo {
  padding-top: 0px;
  padding-bottom: 0px;
}

.notification_div {
    position: fixed;
    top: 50%;
    left: 50%;
    background: blue;
}