#header-logo, #header-user-picture {
  padding-top: 0px;
  padding-bottom: 0px;
}

#header-user-picture {
  margin-top: 8px;
  margin-right: 0;
}

body {
  padding-top: 70px;
  padding-bottom: 70px;
}

.navbar-fixed-bottom {
  text-align: center;
  padding-top: 15px;
}

a:hover {
  text-decoration: none;
}

h3 {
  margin-top: 0px;
}

ul {
  list-style-type: none;
}

#project-page-head, #user-page-head {
  padding-top: 70px;
  padding-bottom: 210px;
}

.project-page-table, .user-page-table {
  margin-top: 35px;
  margin-bottom: 140px;
}

#project-square, #search-square, #user-square, #imie-square, #imie-skills-square {
  width: 320px;
  height: 320px;
  display: inline-block;
  vertical-align: top;
  margin: 21px;
}

#project-square {
  background-color: #5cb85c;
}

#search-square {
  background-color: #5bc0de;
}

#user-square {
  background-color: #f0ad4e;
}

#imie-skills-square img, #imie-square img {
  width: 320px;
  height: 320px;
}

#header-logo:hover, #project-square:hover, #search-square:hover, #user-square:hover, #imie-skills-square img:hover, #imie-square img:hover {
  opacity: 0.7;
}

#home-page-content h1 {
  margin: 7px;
  padding: 7px;
  text-align: right;
  color: white;
}

.notification_div {
  position: fixed;
  top: 50%;
  left: 50%;
  background: blue;
}
