body {
  padding-top: 70px;
  padding-bottom: 70px;
}

.navbar-fixed-bottom {
  text-align: center;
  padding-top: 15px;
}

a:hover {
  text-decoration: none;
}

h3 {
  margin-top: 0px;
}

ul {
  list-style-type: none;
}

#user-page-head {
  padding-top: 70px;
  padding-bottom: 210px;
}

.user-page-table {
  margin-top: 35px;
  margin-bottom: 140px;
}

#project-square {
  width: 256px;
  height: 256px;
  background-color: #5cb85c;
}

#home-square {
  width: 256px;
  height: 256px;
  background-color: #f0ad4e;
}

#profile-square {
  width: 256px;
  height: 256px;
  background-color: #d9534f;
}

#home-title {
  text-align: center;
}

#header-logo {
  padding-top: 0px;
  padding-bottom: 0px;
}
